In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import world_bank_data as wb

ModuleNotFoundError: No module named 'world_bank_data'

In [2]:
# Electricity production from renewable sources, excluding hydroelectric (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.RNWX.ZS'

#Electricity production from renewable sources, excluding hydroelectric (kWh)
url='https://data.worldbank.org/indicator/EG.ELC.RNWX.KH'

#Electricity production from oil sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.PETR.ZS'

#Electricity production from nuclear sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.NUCL.ZS'

#Electricity production from coal sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.COAL.ZS'

#Electricity production from oil, gas and coal sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.FOSL.ZS'

#Electricity production from natural gas sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.NGAS.ZS'

#Electricity production from hydroelectric sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.HYRO.ZS'

#------------ELECTRICITY PRODUCTION BREAKDOWN--------------------#UPPER

#Electric power transmission and distribution losses (% of output)
url='https://data.worldbank.org/indicator/EG.ELC.LOSS.ZS'

#------------ACCESS TO ELECTRICITY BREAKDOWN----------------------#LOWER

#Access to electricity (% of population)
url='https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS'

#Access to electricity, urban (% of urban population)
url='https://data.worldbank.org/indicator/EG.ELC.ACCS.UR.ZS'

#Access to electricity, rural (% of rural population)
url='https://data.worldbank.org/indicator/EG.ELC.ACCS.RU.ZS'

In [3]:
#IF SCRAPING
## Electricity production from renewable sources, excluding hydroelectric (% of total)
#url='http://wdi.worldbank.org/table/3.7'
#
#response = requests.get(url)
#response
#
#soup = BeautifulSoup(response.content)#, features = "lxml")
#
#table = soup.find_all('table', attrs= {'class' : 'indicators-table'})

In [4]:
#wb.get_topics()

In [5]:
#wb.get_sources()

In [6]:
#wb.get_countries()

In [7]:
#wb.get_indicators(topic=6, source=2)

In [8]:
#FETCHING FOR VARIOUS TABLES

elect_prod_renew_sourc_per = pd.DataFrame(wb.get_series('EG.ELC.RNWX.ZS', mrv=1))
elect_prod_renew_sourc_kwh = pd.DataFrame(wb.get_series('EG.ELC.RNWX.KH', mrv=1))
elect_prod_oil_sourc = pd.DataFrame(wb.get_series('EG.ELC.PETR.ZS', mrv=1))
elect_prod_nucl_sourc = pd.DataFrame(wb.get_series('EG.ELC.NUCL.ZS', mrv=1))
elect_prod_coal_sourc = pd.DataFrame(wb.get_series('EG.ELC.COAL.ZS', mrv=1))
elect_prod_oilgascoal_sourc = pd.DataFrame(wb.get_series('EG.ELC.FOSL.ZS', mrv=1))
elect_prod_natgas_sourc = pd.DataFrame(wb.get_series('EG.ELC.NGAS.ZS', mrv=1))
elect_prod_hydro_sourc = pd.DataFrame(wb.get_series('EG.ELC.HYRO.ZS', mrv=1))
elect_power_transm_loss = pd.DataFrame(wb.get_series('EG.ELC.LOSS.ZS', mrv=1))
elect_access = pd.DataFrame(wb.get_series('EG.ELC.ACCS.ZS', mrv=1))
elect_access_urban = pd.DataFrame(wb.get_series('EG.ELC.ACCS.UR.ZS', mrv=1))
elect_access_rural = pd.DataFrame(wb.get_series('EG.ELC.ACCS.RU.ZS', mrv=1))

In [9]:
#REMOVING COLUMNS FROM INDEXES
elect_prod_renew_sourc_per.reset_index(inplace=True)
elect_prod_renew_sourc_kwh.reset_index(inplace=True)
elect_prod_oil_sourc.reset_index(inplace=True)
elect_prod_nucl_sourc.reset_index(inplace=True)
elect_prod_coal_sourc.reset_index(inplace=True)
elect_prod_oilgascoal_sourc.reset_index(inplace=True)
elect_prod_natgas_sourc.reset_index(inplace=True)
elect_prod_hydro_sourc .reset_index(inplace=True)
elect_power_transm_loss.reset_index(inplace=True)
elect_access.reset_index(inplace=True)
elect_access_urban.reset_index(inplace=True)
elect_access_rural.reset_index(inplace=True)

In [10]:
#RENAMING VALUE COLUMNS
elect_prod_renew_sourc_per=elect_prod_renew_sourc_per.rename(columns={"EG.ELC.RNWX.ZS": "Percentage"})
elect_prod_renew_sourc_kwh=elect_prod_renew_sourc_kwh.rename(columns={"EG.ELC.RNWX.KH": "KWH"})
elect_prod_oil_sourc=elect_prod_oil_sourc.rename(columns={"EG.ELC.PETR.ZS": "Percentage"})
elect_prod_nucl_sourc=elect_prod_nucl_sourc.rename(columns={"EG.ELC.NUCL.ZS": "Percentage"})
elect_prod_coal_sourc=elect_prod_coal_sourc.rename(columns={"EG.ELC.COAL.ZS": "Percentage"})
elect_prod_oilgascoal_sourc=elect_prod_oilgascoal_sourc.rename(columns={"EG.ELC.FOSL.ZS": "Percentage"})
elect_prod_natgas_sourc = elect_prod_natgas_sourc.rename(columns={"EG.ELC.NGAS.ZS": "Percentage"})
elect_prod_hydro_sourc = elect_prod_hydro_sourc.rename(columns={"EG.ELC.HYRO.ZS": "Percentage"})
elect_power_transm_loss=elect_power_transm_loss.rename(columns={"EG.ELC.LOSS.ZS": "Percentage"})
elect_access=elect_access.rename(columns={"EG.ELC.ACCS.ZS": "Percentage"})
elect_access_urban=elect_access_urban.rename(columns={"EG.ELC.ACCS.UR.ZS": "Percentage"})
elect_access_rural=elect_access_rural.rename(columns={"EG.ELC.ACCS.RU.ZS": "Percentage"})

In [11]:
#DROPPING DUMMY COLUMNS
elect_prod_renew_sourc_per=elect_prod_renew_sourc_per.drop(columns=['Series'])
elect_prod_renew_sourc_kwh=elect_prod_renew_sourc_kwh.drop(columns=['Series'])
elect_prod_oil_sourc=elect_prod_oil_sourc.drop(columns=['Series'])
elect_prod_nucl_sourc=elect_prod_nucl_sourc.drop(columns=['Series'])
elect_prod_coal_sourc=elect_prod_coal_sourc.drop(columns=['Series'])
elect_prod_oilgascoal_sourc=elect_prod_oilgascoal_sourc.drop(columns=['Series'])
elect_prod_natgas_sourc = elect_prod_natgas_sourc.drop(columns=['Series'])
elect_prod_hydro_sourc = elect_prod_hydro_sourc.drop(columns=['Series'])
elect_power_transm_loss=elect_power_transm_loss.drop(columns=['Series'])
elect_access=elect_access.drop(columns=['Series'])
elect_access_urban=elect_access_urban.drop(columns=['Series'])
elect_access_rural=elect_access_rural.drop(columns=['Series'])

In [12]:
#TABLE TITLE
#elect_prod_renew_sourc_per=elect_prod_renew_sourc_per.style.set_caption("Electricity production from renewable sources, excluding hydroelectric (% of total)")
#elect_prod_renew_sourc_kwh=elect_prod_renew_sourc_kwh.style.set_caption("Electricity production from renewable sources, excluding hydroelectric (kWh)")
#elect_prod_oil_sourc=elect_prod_oil_sourc.style.set_caption("Electricity production from oil sources (% of total)")
#elect_prod_nucl_sourc=elect_prod_nucl_sourc.style.set_caption("Electricity production from nuclear sources (% of total)")
#elect_prod_coal_sourc=elect_prod_coal_sourc.style.set_caption("Electricity production from coal sources (% of total)")
#elect_prod_oilgascoal_sourc=elect_prod_oilgascoal_sourc.style.set_caption("Electricity production from oil, gas and coal sources (% of total)")
#elect_power_transm_loss=elect_power_transm_loss.style.set_caption("Electric power transmission and distribution losses (% of output)")
#elect_access=elect_access.style.set_caption("Access to electricity (% of population)")
#elect_access_urban=elect_access_urban.style.set_caption("Access to electricity, urban (% of urban population)")
#elect_access_rural=elect_access_rural.style.set_caption("Access to electricity, rural (% of rural population)")

In [13]:
#MERGES TO BE DONE  BY NUMBER
#elect_prod_renew_sourc_per   #1
#elect_prod_renew_sourc_kwh   
#elect_prod_oil_sourc!        #1
#elect_prod_nucl_sourc!       #1 
#elect_prod_coal_sourc!       #1
#elect_prod_oilgascoal_sourc
#elect_power_transm_loss
#elect_access   #             #2
#elect_access_urban   #       #2
#elect_access_rural   #       #2

In [14]:
#elect_prod_renew_sourc_per
#elect_prod_renew_sourc_kwh
#elect_prod_oil_sourc
#elect_prod_nucl_sourc
#elect_prod_coal_sourc
#elect_prod_oilgascoal_sourc
#elect_power_transm_loss
#elect_access
#elect_access_urban
#elect_access_rural

                            Country  Year  Percentage
0                        Arab World  2018   89.286856
1            Caribbean small states  2018   98.401602
2    Central Europe and the Baltics  2018  100.000000
3        Early-demographic dividend  2018   90.724652
4               East Asia & Pacific  2018   97.986434
..                              ...   ...         ...
259           Virgin Islands (U.S.)  2018  100.000000
260              West Bank and Gaza  2018  100.000000
261                     Yemen, Rep.  2018   62.000000
262                          Zambia  2018   39.812622
263                        Zimbabwe  2018   41.041584

[264 rows x 3 columns]

In [15]:
##Reformating from 'pandas.io.formats.style.Styler' to 'pandas.core.frame.DataFrame'
#elect_prod_renew_sourc_per = pd.DataFrame(elect_prod_renew_sourc_per)
#elect_prod_renew_sourc_kwh = pd.DataFrame(elect_prod_renew_sourc_kwh)
#elect_prod_oil_sourc = pd.DataFrame(elect_prod_oil_sourc)
#elect_prod_nucl_sourc = pd.DataFrame(elect_prod_nucl_sourc)
#elect_prod_coal_sourc = pd.DataFrame(elect_prod_coal_sourc)
#elect_prod_oilgascoal_sourc = pd.DataFrame(elect_prod_oilgascoal_sourc)
#elect_power_transm_loss = pd.DataFrame(elect_power_transm_loss)
#elect_access = pd.DataFrame(elect_access)
#elect_access_urban = pd.DataFrame(elect_access_urban)
#elect_access_rural = pd.DataFrame(elect_access_rural)

In [16]:
#elect_access      #          #2
#elect_access_urban   #       #2
#elect_access_rural   #       #2

result=pd.merge(elect_access, elect_access_rural, on="Country")

table_elec_access=pd.merge(result,elect_access_urban, on="Country")

table_elec_access=table_elec_access.rename(columns={"Percentage_x": "Electricity Access WW", "Percentage_y":"Electricity Access Rural" , "Percentage":"Electricity Access Urban"})

table_elec_access=table_elec_access.drop(columns=['Year','Year_y'])

table_elec_access=table_elec_access.rename(columns={"Year_x": "Year"})

In [17]:
#elect_prod_renew_sourc_per   #1  
#elect_prod_oil_sourc     #1
#elect_prod_nucl_sourc       #1 
#elect_prod_coal_sourc       #1

In [18]:
combination=pd.merge(elect_prod_renew_sourc_per, elect_prod_oil_sourc, on="Country")
#combination2=pd.merge(combination, elect_prod_nucl_sourc, on="Country")
#table_elec_source_breakdown=pd.merge(combination2, elect_prod_coal_sourc, on="Country")
#table_elec_source_breakdown
combination
#table_elec_source_breakdown=table_elec_source_breakdown.rename(columns={"Percentage_x": "Renewable Sources", "Percentage_y":"Oil Source" , "Percentage":"Electricity Access Urban"})

combination=combination.drop(columns=['Year_y'])

combination=combination.rename(columns={"Year_x": "Year", "Percentage_y":"Oil Sources %" , "Percentage_x":"Renewable Sources %"})

combination2=pd.merge(combination, elect_prod_nucl_sourc, on="Country")

combination2=combination2.drop(columns=['Year_y'])

combination2=combination2.rename(columns={"Percentage": "Nuclear Sources %"})

combination3=pd.merge(combination2, elect_prod_coal_sourc, on="Country")

combination3=combination3.drop(columns=['Year'])

combination4=combination3.rename(columns={"Year_x": "Year", "Percentage": "Coal Sources %"})

combination5=pd.merge(combination4, elect_prod_natgas_sourc, on="Country")

combination5=combination5.drop(columns=['Year_y'])

combination5=combination5.rename(columns={"Percentage": "Natural Gas Sources %", "Year_x": "Year"})

combination6=pd.merge(combination5, elect_prod_hydro_sourc, on="Country")

combination6=combination6.drop(columns=['Year_y'])

table_elec_source_breakdown=combination6.rename(columns={"Percentage": "Hydroelectric Sources %", "Year_x": "Year"})

In [19]:
table_elec_source_breakdown

,Country,Year,Renewable Sources %,Oil Sources %,Nuclear Sources %,Coal Sources %,Natural Gas Sources %,Hydroelectric Sources %
0,Arab World,2015,0.454259,20.509818,NaN,1.519196,64.071422,2.438456
1,Caribbean small states,2015,NaN,NaN,NaN,NaN,NaN,NaN
2,Central Europe and the Baltics,2015,11.119740,0.854239,13.653417,50.344621,7.101308,9.133112
3,Early-demographic dividend,2015,3.566784,9.073565,0.264383,36.528430,32.589130,14.003280
4,East Asia & Pacific,2015,4.974811,1.681473,1.946614,59.391846,13.524058,15.228439
...,...,...,...,...,...,...,...,...
259,Virgin Islands (U.S.),2015,NaN,NaN,NaN,NaN,NaN,NaN
260,West Bank and Gaza,2015,NaN,NaN,NaN,NaN,NaN,NaN
261,"Yemen, Rep.",2015,0.000000,60.195268,NaN,0.000000,39.804732,0.000000
262,Zambia,2015,0.000000,3.006176,NaN,0.000000,0.000000,96.993824
263,Zimbabwe,2015,1.328664,0.494387,NaN,46.781337,0.000000,51.395612

In [20]:
table_elec_access

,Country,Year,Electricity Access WW,Electricity Access Rural,Electricity Access Urban
0,Arab World,2018,89.286856,79.248100,97.063959
1,Caribbean small states,2018,98.401602,97.226735,99.584314
2,Central Europe and the Baltics,2018,100.000000,100.000000,99.994298
3,Early-demographic dividend,2018,90.724652,84.200218,98.793351
4,East Asia & Pacific,2018,97.986434,96.344871,99.081422
...,...,...,...,...,...
259,Virgin Islands (U.S.),2018,100.000000,100.000000,100.000000
260,West Bank and Gaza,2018,100.000000,100.000000,100.000000
261,"Yemen, Rep.",2018,62.000000,48.698349,85.000000
262,Zambia,2018,39.812622,10.968000,77.245483
263,Zimbabwe,2018,41.041584,19.997750,85.333015